/* General Styling */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

/* MAP BACKGROUND */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

/* SIDEBAR MENU SECTION */
.sideBarTop {
    position: relative;
    left: 0;
    padding: 10px;
    color: rgb(255, 255, 255)
}

.sideBarBottom {
    color: rgb(255, 255, 255);
    text-shadow: 0 5px 2px rgb(0, 0, 0);
    font-size: larger;
    text-align: center;
    height: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    top: 30%;
    width: 200px;
    position: fixed;
    height: auto;
    border-radius: 0 15px 15px 0;
    background-color: rgba(95, 97, 95, 0.6);
    z-index: 100;
    align-items: center;
    left: -200px;
    transition: 0.5s;
    text-align: center;
    border: 1px solid white;
}

.sidebar:hover {
    left: 0
}

.displayMode {
    margin: 10px 0;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    margin-left: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}


/* BUTTON STYLING */
button {
    width: 100px;
    height: min-content;
    padding: 10px;
    font-weight: bold;
    color: rgb(190, 8, 8);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
}

button:hover,
.mapboxgl-ctrl>button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(190, 8, 8);
}

.mapboxgl-ctrl>button:hover {
    background-color: cornflowerblue !important;
}

.buttonEffect {
    background-color: transparent !important;
    border-color: cornflowerblue !important;
    color: cornflowerblue !important;
}



/* FOOTER SECTION */

.copyright a {
    color: white;
    text-decoration: none;
}

.copyright a:hover {
    color: aqua;
    text-decoration: underline;
}


@media (max-height: 880px) {
    .runRoute {
        font-size: small;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
    }

}